body {
  background-color: #cae4db;
}

header {
  color: #00303f;
}

a {
  color: #dcae1d;
}

.App {
  text-align: center;
}

.daily-picture {
  width: auto;
  box-shadow: 0 0 40px #7a9d96;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .daily-picture {
    width: 300px !important;
  }
  .app-header {
    padding-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .daily-picture {
    width: 460px !important;
  }
}
@media screen and (min-width: 768px) {
  .daily-picture {
    width: 748px !important;
  }
}

.app-header {
  background-color: #cae4db;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-left: 1px solid #00303f;
  border-right: 1px solid #00303f;
  border-bottom: 1px solid #00303f;
}

.App-link {
  color: #61dafb;
}
