nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    padding: 10px 0;
    list-style: none;
    width: 50%;
    display: inline-block;
    cursor: pointer;
}
nav li.active {
    border-bottom: 3px solid #00303f;
}
nav li:hover {
    background-color: #00303f;
}
