.privacy-picture {
    width: 70%;
    box-shadow: 0 0 40px #7a9d96;
    margin-bottom: 20px;
}

.privacy-header {
    margin-bottom: 5px;
}

.privacy-data {
    margin: 0 20px;
}
@media screen and (min-width: 480px) {
    .privacy-picture {
        width: 230px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .privacy-picture {
        width: 150px !important;
    }
}
@media screen and (min-width: 768px) {
    .privacy-picture {
        width: 370px !important;
    }
}